{% extends "speech/base.html" %}
{% load static %}
{% block body %}
<div class="pt-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <h1> Как перевести вашу речь в текст? </h1>
    </div>
    <div class="row justify-content-center mt-4">
      <p class='font-weight-light text-center'>
        Если вы это читаете, значит у вас возникли трудности с разпознаванием вашей речи. 
        Следуя шагам приведенным ниже вы с легкостью сможете распознать речь. 
        Шаги описаны настолько подробно, насколько это возможно.
      </p>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col text-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Шаг 1</h5>
            <p class="card-text">Найдите кнопку "Новая запись" на верхней панели и нажмите на неё. Она находится справа от логотипа.</p>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Шаг 2</h5>
            <p class="card-text">Нажмите кнопку "Разрешить" или "Allow", чтобы дать диктофону доступ к вашему микрофону.</p>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Шаг 3</h5>
            <p class="card-text">Нажмите кнопку <span class="badge badge-success">Старт</span> , скажите все то, что вам нужно распознать, после чего нажмите кнопку <span class="badge badge-danger">Стоп</span> .</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col text-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Шаг 4</h5>
            <p class="card-text">Найдите кнопку "Мои записи" на верхней панели и нажмите на неё. Она находится справа от кнопки "Новая запись".</p>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Шаг 5</h5>
            <p class="card-text">Вы увидете вашу запись, снизу от названия которой будет распознанный текст. Запись можно послушать.</p>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Дополнительно</h5>
            <p class="card-text">Вы можете удалить свою запись, нажав кнопку <span class="badge badge-danger">Удалить</span> или посмотреть информацию о нём, нажав <span class="badge badge-info">Информация о файле</span> .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}